# Workshop 31.03.2015
## Intro to Pyhton module

## 1. Python Fundamentals - 9:00 to 10:45

---

### [Running and Quitting](https://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html) - 15 min

**Learning objectives**:
- Lunch the JupyterLab server.
- Create a new Python script.
- Create a Jupyter notebook.
- Shutdown the Jupyter server.
- Understand the difference between a Python script and a Jupyter notebook.
- Create Markdown cells in a notebook.
- Create and run Python cells in a notebook.

#### _Exercise: Create a nested list in a Markdown cell in a notebook that looks like this_:

1. Get funding.
2. Do work.
* Design experiment.
* Collect data.
* Analyze.
3. Write up.
4. Publish.

_Solution_

#### _Exercise: What is displayed when a Python cell in a notebook that contains several calculations is executed? i.e._
```python
7 * 3
2 + 3
```

$\sum_{i=1}^{N} 2^{-i} \approx 1$

---
### [Variables and Assignment](https://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html) - 15 min / 10 min exercises

**Learning objectives**:
* Write programs that assign scalar values to variables and perform calculations with those values.
* Correctly trace value changes in programs that use scalar assignment.

#### 1. Use variables to store values:
* Variables are names for values.
* In python the `=` symbol assigns the value on the right to the name on the left.
* The variable is created when a value is assigned to it.
* Here, Python assigns an age to a variable `age` and a name in quotes to avariable `first_name`

#### 2. Use `print` to display values:
* Python has a built-in function called `print` that prints things as text
* Call the function by using its name
* Provide values to the function (i.e. the things to print) in parentheses
* To add a string to the printout, wrap the string in single or double quoutes
* The values passed to the function are called **arguments**

Ahmed is 42 years old

#### 3. Variables must be created before they are used
* If a variable doesn't exist yet, or if the name has been mis-spelled, Python reports an error (Unlike some languages, which "guess" a default value.)

In [ ]:
print(last_name)

NameError: ignored

* Be aware that its is the order of execution of cells that is important in a Jupyter notebook, not the order in which they appear. Python will remember all the code that was run previously, including any variables you have defined, irrespective of the order in the notebook. Therefore if you define variables lower down the notebook and the re-run cells further up, those defined further down will still be present. As an example. create two cells with the following content, in this order:

In [ ]:
print()

If you execute this in order, the first cell will give an error. However, if you run the first cell after the second it will print out `1`.

#### 4. Variables can be used in calculations
* We can use variables in calculations just as if they were values. Remember, we assigned the value `42` to `age` a few lines ago.

In [ ]:
age = age + 3
print("Age in three years:", age)

#### 5. Use an index to get a single character from a string
* The characters (individual letters, numbers, and so on) in a string are ordered. For example, the string 'AB' is not the same as 'BA'. Because of this ordering, we can treat the string as a list of characters.
* Each position in the string (first, second, etc.) is given a number. This number is called an index or sometimes a subscript.
* Indices are numbered from 0.
* Use the position’s index in square brackets to get the character at that position.
![](https://swcarpentry.github.io/python-novice-gapminder/fig/2_indexing.svg)

In [ ]:
atom_name = "helium"
print(atom_name[0])

#### 6. Use a slice to get a substring
* A part of a string is called a **substring**. A substring can be as short as a single character.
* An item in a list is called element. Whenever we treat a string as if it were a list, the string's elements are its individuals characters.
* We take a slice by using `[start:stop]` where `start` is replaced with the index of the first element we want and `stop` is replaced with the index of the element just after the last element we want.

In [ ]:
print(atom_name[0:3])

#### 7. Use the built-in function `len` to find the length of a string

In [ ]:
print(len(atom_name))

#### 8. Python is case-sensitive
* Python thinks that upper- and lower-case letters are different, so Name and name are different variables.
*There are conventions for using upper-case letters at the start of variable names so we will use lower-case letters for now.

#### 9. Use meaningful variable names
* Python doesn't care what you call variables as long as they obey the rules (alphanumeric characters and the underscore).

In [ ]:
flabab = 42
ewr_422_yY = "Ahmed"
print(ewr_422_yY,'is',flabab, 'years old')

EXERCISE 1: SWAPPING VALUES

Fill the table showing the values of the variables in this program after each statement is executed.

|Command|Value of x|Value of y|Value of swap
---|--|--|--
`x=1.0`|-|-|-|
`y=3.0`|-|-|-|
`swap=x`|-|-|-|
`y=swap`|-|-|-|

EXERCISE 2: PREDICTING VALUES

What is the final value of `position` in the program below? (Try to predict the value without running the program, then check your prediction.)
```python
initial = 'left'
position = initial
initial = 'right'
```

EXERCISE 3: CHALLENGE MATHS

If you assign `a=123`, what happens if you try to get the second digit of `a` via `a[1]`?

In [ ]:
a = 123
print(a[1])

In [ ]:
# solution 
# Numbers are not strings or sequences and Python will raise an error if you try to perform an index operation on a number.
# In the next lesson on types and type conversion we will learn more about types and how to convert between different types. If you want the Nth digit of a number you can convert it into a string using the str built-in function and then perform an index operation on that string.
a = str(123)
print(a[1])

EXERCISE 4: CHOSSING A NAME

Which is a better variable name, `m`, `min`, or `minutes`? Why? 
Hint: think about which code you would rather inherit from someone who is leaving the lab:

1. `ts = m * 60 + s`
2. `tot_sec = min * 60 + sec`
3. `total_seconds = minutes * 60 + seconds`

Solution: minutes is better because min might mean something like “minimum” (and actually is an existing built-in function in Python that we will cover later).

---
### [Data Types and Type Conversion](https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html) - 10 min / 10 min exercises

**Learning objectives**:
* Explain key differences between integers and floating point numbers.
* Explain key differences between numbers and character string.
* Use build-in functions to convert between integers, floating point numbers, and strings.

#### 1. Every value has a type.
* Every value in a program has a specific type.
* Integer `int`: represents positive or negative whole numbers like 3 or -512.
* FLoating point number `float`: represents real numbers like 3.14159 or -2.5.
* Character string (usually called: `str`): text. Written in either single or double quotes.

#### 2. Use the build-in function `type` to find the type of a value.

In [ ]:
print(type(52))

<class 'int'>

In [ ]:
fitness = 'avg'
print(type(fitness))

<class 'str'>

#### 3. Types control what operations (or methods) can be performed on a given value.
* A value's type determines what the program can do to it.

In [ ]:
print(5-2)

3

In [ ]:
print("hello" - "h")

TypeError: ignored

#### 4. You can use the "+"and "*"operators on strings.

* Adding character string concatenates them:

In [ ]:
full_name = 'Carlos' + ' ' + "Utrilla"
print(full_name)

* Multiplying a character string by an integer _N_ creates a new string that consists of that character string repeated _N_ times:

In [ ]:
separator = "=" * 10
print(separator)

#### 5. String have a length (but numbers don't).

In [ ]:
print(len(full_name))

In [ ]:
print(len(52))

#### 6. Must convert numbers to string or viceversa when operating on them
* Cannot add numbers and string:

In [ ]:
print(1 + '2')

* Some types can be converted to other types by using the type name as function:

In [ ]:
print(1 +int('2'))

In [ ]:
print(str(1)+'2')

#### 7. Can mix integers and floats freely in operations.

* Integers and floating-point numbers can be mixed in arithmetic: python 3 converts integers to floats as needed:

In [ ]:
print("half is",1 /2.0)
print('three squared is', 3.0 ** 2)

#### 8. Variables only change value when something is assigned to them.
* If we make one cell in a spreadsheet depend on another, and update the latter, the former updates automatically.
* this does **not** happen in programming languages.

In [ ]:
first = 1
second = 5 * first
first = 2
print('first is', first, 'and second is', second)

* The computer reads the value of `first`when doing the multiplication, creates a new value, and assigns it to `second`.
* After that, `second`does not remember where it came from.

EXERCISE 1: FRACTIONS

What type of value is 3.4? How can you find out?

EXERCISE 2: AUTOMATIC TYPE CONVERSION

What type of value is 3.25+4?

EXERCISE 3: CHOOSE A TYPE

What type of value (integer, floating point number, or character string) would you use to represent each of the following? Try to come up with more than one good answer for each problem. For example, in # 1, when would counting days with a floating point variable make more sense than using an integer?

1. Number of days since the start of the year.
2. Time elapsed from the start of the year until now in days.
3. Serial number of a piece of lab equipment.
4. A lab specimen’s age
5. Current population of a city.
6. Average population of a city over time.

EXERCISE 4: ARITHMETIC WITH DIFFERENT TYPES

Which of the following 6 commands will return the floating point number `2.0`?

Note: There may be more than one right answer.

```python
first = 1.0
second = "1"
third = "1.1"
```
1. first + float(second)
2. float(second) + float(third)
3. first + int(third)
4. first + int(float(third))
5. int(first) + int(float(third))
6. 2.0 * second

In [ ]:
# solution 1 and 4

### [Built-in Functions and Help](https://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html) - 15 min / 10 min exercises

**Learning objectives**:
* Explain the purpose of the functions.
* Correctly call built-in Python functions.
* Correctly nest calls to built-in functions.
* Use help to display documentation for built-in functions.
* Correctly describe situations in which SyntaxError and NameError occurs.

#### 1. Use comments to add documentation to programs.

In [ ]:
# this sentence isn't executed by Python
adjustment = 0.5 # Neither is this - anything after '#' is ignored

#### 2. A function may take zero or more arguments.
* An _argument_ is a value passed into a function.
*`len` takes exactly one.
* `int`, `str`, and `float` create a new value from an existing one.
* `print` takes zero or more, with no arguments prints a blank line.

In [ ]:
print('before')
print()
print('after')

before

after

#### 3. Every function returns something.
* Every function call produces some results
* If the function doesn't have a useful result to turn, it usually returns the special value `None` as no value.

In [ ]:
result = print('Example')
print('results of print is', result)

Example
results of print is None

#### 4. Commonly-used built-in functions include `max`, `min`, and `round`.
* Use `max` to find the largest value of one or more values.
* Use `min` to find the smallest.
* Both work on character string as well as numbers

In [ ]:
print(max(1,2,3))

3

In [ ]:
print(min('a', 'A', '1'))

1

In [ ]:
print(min('A', 'B','R'))

A

#### 5. Functions may only work for certain (combinations of) arguments.
* `max` and `min` must be given at least one argument
* They must given things that can meaningfully be compared

In [ ]:
print(max(1,'f'))

TypeError: ignored

#### 6. Functions may have default values for some arguments.
* `round` will round off a floating-point number
* By default, rounds to zero decimal places

In [ ]:
round(3.452)

3

* We can specify the number of decimals places we want

In [ ]:
round(3.714,1)

3.7

* Functions attached to objects are called methods

In [ ]:
my_string = 'Hello  world!' # creating of a string object
print(len(my_string))

13

In [ ]:
print(my_string.isupper()) # not all the letters are uppercase

False

In [ ]:
print(my_string.upper())

HELLO  WORLD!

#### 7. Use the built-in function `help` to get help for a function.

In [ ]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

#### 8. Python reports a syntax error when it can't understand the source of a program.

In [ ]:
print("hello world)

SyntaxError: ignored

In [ ]:
print("hello world"

SyntaxError: ignored

* The message indicates a problem on first line of the input (“line 1”).
* In this case the “ipython-input” section of the file name tells us that we are working with input into IPython, the Python interpreter used by the Jupyter Notebook.
* The -6- part of the filename indicates that the error occurred in cell 6 of our Notebook.
* Next is the problematic line of code, indicating the problem with a ^ pointer.

#### 9. Python reports a runtime error when something goes wrong while a program is executing.

In [ ]:
age = 53
remaining = 120 - aege # mis-spelled 'age

NameError: ignored

EXERCISE 1: WHAT HAPPEN WHEN:
1. Explain in simple terms the order of operations in the following program: when does the addition happen, when does the substraction happen, when is each function called, etc.
2. What is the final value of `radiance`?

In [ ]:
radiance = 1.0
radiance = max(2.1, 2.0 + min(radiance, 1.1*radiance -0.5))
print(radiance)

2.6

EXERCISE 2: SPOT THE DIFFERENCE
1. Predict what each of the `print` statements in the program below will print
2. Does `max(len(rich), poor)` run or produce an error message? If its runs, does its result make any sense?

In [ ]:
easy_string = 'abc'
print(max(easy_string))

c

In [ ]:
rich = 'gold'
poor = 'tin'
print(max(rich,poor))

tin

In [ ]:
print(max(len(rich), len(poor)))

4

In [ ]:
max(len(rich), poor)

TypeError: ignored

`max(len(rich), poor)` throws a TypeError. This turns into `max(4, 'tin')` and as we discussed earlier a string and integer cannot meaningfully be compared.

### [Libraries](https://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html) - 10 min/10 min exercise

**Learning objectives**:
* Explain what software libraries are and why programmers create and use them.
* Write programs that import and use modules from Python's standard library.
* Find and read documentation for the standard library interactively (in the interpreter) and online

#### 1. Most of the power of a programming language is in its libraries.
1. A library is a collection of files (called modules) that contains functions for use by other programs.
2. May also contain data values (e.g., numerical constants) and other things.
3. Library’s contents are supposed to be related, but there’s no way to enforce that.
4. The Python standard library is an extensive suite of modules that comes with Python itself.
Many additional libraries are available from [PyPI](https://pypi.python.org/pypi/) (the Python Package Index).

We will see later how to write new libraries.

#### 2. A program must import a library module before using it.
* Use `import` to load a library module into a program's memory.
* Then refer to things from the module as `module_name.thing_name`.
* Using `math`, one of the modules in the standard library:

In [ ]:
import math

In [ ]:
print('pi is', math.pi)

pi is 3.141592653589793

In [ ]:
print('cos(pi) is', math.cos(math.pi))

cos(pi) is -1.0

#### 3. Use `help` to learn about the contents of a library module.

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

#### 4. Import specific items from a library module to shorten programs.
* Use `from.....import....` to load only specific items from a library module.
* Then refer to them directly without library name as prefix.

In [ ]:
from math import cos, pi
print('cos(pi)', cos(pi))

cos(pi) -1.0

#### 5. Create an alias for a library module when importing it to shorten programs.
* Use `import .... as ...` to give a library a short _alias_ while importing it.
* Then refer to items in the library using that shortened name.

In [ ]:
import math as m
print('cost(pi) is', m.cos(m.pi))

cost(pi) is -1.0

EXERCISE 1: EXPLORING THE MATH MODULE

1. What function from the `math` module can you use to calculate a square root _without_ using `sqrt`?
2. Since the library contains this function, why does `sqrt` exist?

EXERCISE 2: LOCATING THE RIGHT MODULE

You want to select a random character from a string:
1. Which [standard library](https://docs.python.org/3/library/) module could help you?
2. Which function would you select from the module? Are there alternatives?
3. Try to write a program that uses the function

In [ ]:
# solution
from random import randrange

bases = 'ACTGDDGRDDG'
random_index = randrange(len(bases))
print(bases[random_index])
# other random.sample
from random import sample
print(sample(bases, 1)[0])

D
T

EXERCISE 3: WHEN IS HELP AVAILABLE?
* When a colleague of yours types `help(maths)` and it shows an error:
```pyhon
NameError: name 'math' is not defined
```

what has your colleague forgotten to do?

EXERCISE 4: READING ERROR MESSAGES
1. Read the code below and try to identify what the errors are without running it
2. Run the code, and read the error message. What type of error is it?

```python
from math import log
log(0)
```

## 2. Analyse and visualise data with python - 11:05 to 12:25

---

### [Reading Tabular Data into DataFrames](https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html) - 10 min / 10 min exercises

**Learning objectives**:
- Import the Pandas library
- Use Pandas to load a simple CSV data set
- Get some basic information about a Pandas DataFrame

#### 1. Use the Pandas library to do statistics on tabular data:
* Pandas is widely-used Python library for statistics, particularly on tabular data.
* Borrows many features from R's dataframes:
  - Two dimensional table whose columns have names and potentially have different type of data types/
* Load it with `import pandas as pd`. The alias pd is commonly used for Pandas.
* Read a Comma Separated Values (CSV) data file with `pd.read_csv`.
  - Agument is the name of the file to be read.
  - Assign result to a variable to store the data that was read.

In [ ]:
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/MaastrichtU-IDS/coding4all/main/data/gapminder_gdp_oceania.csv?token=AMA7DPKNKUI3V6WJR3BZR53AKRNQA")

print(data)

       country  gdpPercap_1952  ...  gdpPercap_2002  gdpPercap_2007
0    Australia     10039.59564  ...     30687.75473     34435.36744
1  New Zealand     10556.57566  ...     23189.80135     25185.00911

[2 rows x 13 columns]

* The columns in a dataframe are the observed variables, and the rows are the observations.
* Pandas uses backslash `\` to show wrapped lines when output is too wide to fit the screen.

**File Not Found:**

> Our lessons store their data files in a `data` sub-directory, which is why the path to the file is `data/...csv`. If you formet to include `data/` or if you include it but your cope of the file is somewhere else, you will bet a runtime error that ends with a line like this:

`ERROR`: _OSError: File b'gapminder_gdp_oceania.csv' does not exist_

#### 2. Use `index_col` to specify that a column's values should be used as row headings:
* Row headings are numbers (0 and 1 in this case)
* Really want to index by country
* Pass the name of the column to `read_csv` as its `index_col` parameter to do this

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/MaastrichtU-IDS/coding4all/main/data/gapminder_gdp_oceania.csv?token=AMA7DPKNKUI3V6WJR3BZR53AKRNQA", index_col= "country")
print(data)

             gdpPercap_1952  gdpPercap_1957  ...  gdpPercap_2002  gdpPercap_2007
country                                      ...
Australia       10039.59564     10949.64959  ...     30687.75473     34435.36744
New Zealand     10556.57566     12247.39532  ...     23189.80135     25185.00911

[2 rows x 12 columns]

#### 3. Use the `DataFrame.info()` method to find out more about a dataframe

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1952  2 non-null      float64
 1   gdpPercap_1957  2 non-null      float64
 2   gdpPercap_1962  2 non-null      float64
 3   gdpPercap_1967  2 non-null      float64
 4   gdpPercap_1972  2 non-null      float64
 5   gdpPercap_1977  2 non-null      float64
 6   gdpPercap_1982  2 non-null      float64
 7   gdpPercap_1987  2 non-null      float64
 8   gdpPercap_1992  2 non-null      float64
 9   gdpPercap_1997  2 non-null      float64
 10  gdpPercap_2002  2 non-null      float64
 11  gdpPercap_2007  2 non-null      float64
dtypes: float64(12)
memory usage: 288.0+ bytes

* This is a DataFrame
* Two rows named `Australia` and `New Zealand`
* Twelve columns, each of which has two actual 64-bit floating point values
  - We will talk later about null values, which are used to represent missing observations
* Uses 208 bytes of memory

#### 4. The DataFrame.columns variable stores information about the dataframe's columns

* Note that this is data, _not_ a method. (it doesn't have parentheses)
  - Like `math.pi`
  - So do not use `()` to call it

In [ ]:
print(data.columns)

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

#### 5. Use `DataFrame.T` to transpose a dataframe:

* Sometimes want to treat columns as rows and vice versa.
* Transpose (written `.T`) doesn't copy the data, just changes the program's view of it.
* Like `columns`, it is a member variable

In [ ]:
data.T

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

#### 6. Use `DataFrame.describe()` to get summary statistics about data

`DataFrame.describe()` gets the summary statistics of only the columns that have numerical data. All other columns are ignored, unless you use the argument `include = 'all'`

In [ ]:
data.describe()

       gdpPercap_1952  gdpPercap_1957  ...  gdpPercap_2002  gdpPercap_2007
count        2.000000        2.000000  ...        2.000000        2.000000
mean     10298.085650    11598.522455  ...    26938.778040    29810.188275
std        365.560078      917.644806  ...     5301.853680     6540.991104
min      10039.595640    10949.649590  ...    23189.801350    25185.009110
25%      10168.840645    11274.086022  ...    25064.289695    27497.598692
50%      10298.085650    11598.522455  ...    26938.778040    29810.188275
75%      10427.330655    11922.958888  ...    28813.266385    32122.777857
max      10556.575660    12247.395320  ...    30687.754730    34435.367440

[8 rows x 12 columns]

EXERCISE 1: READING OTHER DATA

Read the data in `gapminder_gdp_americas.csv` into a variable called `americas` and display its summary statistics

In [ ]:
path = 'https://raw.githubusercontent.com/MaastrichtU-IDS/coding4all/main/data/gapminder_gdp_americas.csv?token=AMA7DPJFRN6RH4UV6KKMPNDAKRRYY'

americas = pd.read_csv(path, index_col= "country")
print(americas)
# stats
americas.describe()

                    continent  gdpPercap_1952  ...  gdpPercap_2002  gdpPercap_2007
country                                        ...
Argentina            Americas     5911.315053  ...     8797.640716    12779.379640
Bolivia              Americas     2677.326347  ...     3413.262690     3822.137084
Brazil               Americas     2108.944355  ...     8131.212843     9065.800825
Canada               Americas    11367.161120  ...    33328.965070    36319.235010
Chile                Americas     3939.978789  ...    10778.783850    13171.638850
Colombia             Americas     2144.115096  ...     5755.259962     7006.580419
Costa Rica           Americas     2627.009471  ...     7723.447195     9645.061420
Cuba                 Americas     5586.538780  ...     6340.646683     8948.102923
Dominican Republic   Americas     1397.717137  ...     4563.808154     6025.374752
Ecuador              Americas     3522.110717  ...     5773.044512     6873.262326
El Salvador          Americas     3048.302900  ...     5351.568666     5728.353514
Guatemala            Americas     2428.237769  ...     4858.347495     5186.050003
Haiti                Americas     1840.366939  ...     1270.364932     1201.637154
Honduras             Americas     2194.926204  ...     3099.728660     3548.330846
Jamaica              Americas     2898.530881  ...     6994.774861     7320.880262
Mexico               Americas     3478.125529  ...    10742.440530    11977.574960
Nicaragua            Americas     3112.363948  ...     2474.548819     2749.320965
Panama               Americas     2480.380334  ...     7356.031934     9809.185636
Paraguay             Americas     1952.308701  ...     3783.674243     4172.838464
Peru                 Americas     3758.523437  ...     5909.020073     7408.905561
Puerto Rico          Americas     3081.959785  ...    18855.606180    19328.709010
Trinidad and Tobago  Americas     3023.271928  ...    11460.600230    18008.509240
United States        Americas    13990.482080  ...    39097.099550    42951.653090
Uruguay              Americas     5716.766744  ...     7727.002004    10611.462990
Venezuela            Americas     7689.799761  ...     8605.047831    11415.805690

[25 rows x 13 columns]

       gdpPercap_1952  gdpPercap_1957  ...  gdpPercap_2002  gdpPercap_2007
count       25.000000       25.000000  ...       25.000000       25.000000
mean      4079.062552     4616.043733  ...     9287.677107    11003.031625
std       3001.727522     3312.381083  ...     8895.817785     9713.209302
min       1397.717137     1544.402995  ...     1270.364932     1201.637154
25%       2428.237769     2487.365989  ...     4858.347495     5728.353514
50%       3048.302900     3780.546651  ...     6994.774861     8948.102923
75%       3939.978789     4756.525781  ...     8797.640716    11977.574960
max      13990.482080    14847.127120  ...    39097.099550    42951.653090

[8 rows x 12 columns]

EXERCISE 2: INSPECTING DATA

After reading the data for the Americas, use `help(americas.head)` and `help(americas.tail)` to find out what `DataFrame.head` and `DataFrame.tail` do

EXERCISE 3: READING FILES IN OTHER DIRECTORIES

The data for your current project is stored in a file called `microbes.csv`, which is located in a folder called `field_data`. You are doing analysis in a notebook called `analysis.ipynb` in a sibling folder called thesis:
```
your_home_directory
+-- field_data/
|   +-- microbes.csv
+-- thesis/
    +-- analysis.ipynb
```

SOL:
We need to specify the path to the file of interest in the call to pd.read_csv. We first need to ‘jump’ out of the folder thesis using ‘../’ and then into the folder field_data using ‘field_data/’. Then we can specify the filename `microbes.csv. The result is as follows:
`
data_microbes = pd.read_csv('../field_data/microbes.csv')
`

EXERCISE 4: WRITING DATA

As well as the `read_csv` function for reading data from a file, Pandas provides a `to_csv` function to write dataframes to files. Applying what you’ve learned about reading from files, write one of your dataframes to a file called `processed.csv`. You can use `help` to get information on how to use `to_csv`.

SOL:

In order to write the DataFrame americas to a file called processed.csv, execute the following command:

In [ ]:
americas.to_csv('processed.csv')

---
### Pandas DataFrames - 15 min / 15 min exercices

**Learning objectives**:
- Select individual values from a Pandas dataframe.
- Select entire rows or entire columns from a dataframe.
- Select a subset of both rows and columns from a dataframe in a single operation.
- Select a subset of a dataframe by a single Boolean criterion.

A DataFrame is a collection of Series; The DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas use to represent a column.

Pandas is built on top of the Numpy library, which in practice means that most of the methods defined for Numpy Arrays apply to Pandas Series/DataFrames.

What makes Pandas so attractive is the powerful interface to access individual records of the table, proper handling of missing values, and relational-databases operations between DataFrames.

#### 1. Selecting values
To access a value at the position `[i,j]` of a DataFrame, we have two options, depending on what is the meaning of `i` in use. Remember that a DataFrame provides an index as a way to identify the rows of the table; a row, then, has a position inside the table as well as a label, which uniquely identifies its entry in the DataFrame.

Use DataFrame.iloc[..., ...] to select values by their (entry) position

In [ ]:
import pandas as pd
data = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(data.iloc[0, 0])

Use DataFrame.loc[..., ...] to select values by their (entry) label.

In [ ]:
print(data.loc["Albania", "gdpPercap_1952"])

Use `:` on its own to mean all columns or all rows.

In [ ]:
print(data.loc["Albania", :])

Would get the same result printing `data.loc["Albania"]`(without a second index).

In [ ]:
print(data.loc[:, "gdpPercap_1952"])

- Would get the same result printing `data["gdpPercap_1952"]`
- Also get the same result printing `data.gdpPercap_1952` (not recommended, because easily confused with . notation for methods)

In [ ]:
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'])

In the above code, we discover that slicing using `loc` is inclusive at both ends, which differs from slicing using `iloc`, where slicing indicates everything up to but not including the final index.

#### 2. Result of slicing can be used in further operations.

- Usually don’t just print a slice.
- All the statistical operators that work on entire dataframes work the same way on slices.
- E.g., calculate max of a slice.

In [ ]:
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].max())

In [ ]:
print(data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].min())

Use comparisons to select data based on value.

In [ ]:
subset = data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']
print('Subset of data:\n', subset)

# Which values were greater than 10000 ?
print('\nWhere are values large?\n', subset > 10000)

#### 3. Select values or NaN using a Boolean mask.

In [ ]:
mask = subset > 10000
print(subset[mask])
#print(subset[subset > 10000].describe())

4. Group By: split-apply-combine

- Pandas vectorizing methods and grouping operations are features that provide users much flexibility to analyse their data.

- For instance, let’s say we want to have a clearer view on how the European countries split themselves according to their GDP.

In [ ]:
mask_higher = data > data.mean()
wealth_score = mask_higher.aggregate('sum', axis=1) / len(data.columns)
wealth_score

data.groupby(wealth_score).sum()

---
### Plotting - 15 min / 15 min exercices

**Learning objectives**:
- Understand the logic of matplotlob library
- Create a time series plot showing a single data set.
- Create a scatter plot showing relationship between two data sets.

#### 1. `matplotlib` is the most widely used scientific plotting library in Python.

- Commonly use a sub-library called matplotlib.pyplot.
- The Jupyter Notebook will render plots inline if we ask it to using a “magic” command.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

- Simple plots are then (fairly) simple to create.

In [ ]:
time = [0, 1, 2, 3]
position = [0, 100, 200, 300]

plt.plot(time, position)
plt.xlabel('Time (hr)')
plt.ylabel('Position (km)')

    In our Jupyter Notebook example with %matplotlib inline, running the cell generates the figure directly below the code. The figure is also included in the Notebook document for future viewing. However, other Python environments require an additional command in order to display the figure.

    Instruct matplotlib to show a figure:
    
`plt.show()`

#### 2. A Gapminder example

In [ ]:
import plotly.express as px
import pandas as pd

In [ ]:
data = px.data.gapminder()

In [ ]:
data.head(10)

In [ ]:
data.to_csv('gapminder.csv')

In [ ]:
data_ned = data[data['country'] == 'Netherlands']

In [ ]:
plt.plot(data_ned['year'], data_ned['gdpPercap'])

Can plot many sets of data together.

In [ ]:
# Select two countries' worth of data.
data_ger = data[data['country'] == 'Germany']
data_mex = data[data['country'] == 'Mexico']

In [ ]:
plt.plot(data_mex['year'], data_mex['gdpPercap'])
plt.plot(data_ger['year'], data_ger['gdpPercap'])
plt.xlabel('Year')
plt.ylabel('GDP per capita')
plt.show()

#### 3. Many styles of plot are available.

Often when plotting multiple datasets on the same figure it is desirable to have a legend describing the data.

This can be done in `matplotlib` in two stages:

- Provide a **label** for each dataset in the figure:
- Instruct matplotlib to create the **legend**.

In [ ]:
plt.style.use('ggplot')
plt.plot(data_ger['year'], data_ger['gdpPercap'], label ='Germany', )
plt.plot(data_mex['year'], data_mex['gdpPercap'], label ='Mexico', linestyle = "--", color = "green")
plt.xlabel('Year')
plt.ylabel('GDP per capita')
plt.legend(loc='upper left')
plt.show()

#### 4. Playing around with intervals and exploring pandas tricks

In [ ]:
data\
    [data['continent'] == 'Europe']\
    [['year','gdpPercap']]\
    .groupby('year')\
    .agg(["min","mean","max"])\
    .plot()

#### 5. Scatter plots to see correlations

Take a deeper look at the axis, they are no longer a time series.

Modify the example in the notes to create a scatter plot showing the relationship between the minimum and maximum GDP per capita among the countries in Asia for each year in the data set. What relationship do you see (if any)?

In [ ]:
plt.scatter(data_ger['gdpPercap'], data_ned['gdpPercap'])

Add the necessary labels  
Comment on the trend

#### 6. Analysing other variables 
Let's make a cut now by year and plot the continous variables

In [ ]:
data_2007 = data[data['year'] == 2007]

In [ ]:
data_2007.columns

In [ ]:
plt.scatter(x = data_2007['gdpPercap'], 
            y = data_2007['lifeExp'], 
            s = data_2007['pop']/1e6)

A good place to look is the documentation for the plot function `plt.scatter?`. 
x and y - A column name or index that determines what data will be placed on the x and y axes of the plot

s - Details for this can be found in the documentation of plt.scatter. A single number or one value for each data point. Determines the size of the plotted points.

#### Saving your plot to a file

If you are satisfied with the plot you see you may want to save it to a file, perhaps to include it in a publication. There is a function in the matplotlib.pyplot module that accomplishes this: savefig. Calling this function, e.g. with
`plt.savefig('my_figure.png')`

#### 7. Making your plots accessible

Whenever you are generating plots to go into a paper or a presentation, there are a few things you can do to make sure that everyone can understand your plots.

- Always make sure your text is large enough to read. Use the fontsize parameter in xlabel, ylabel, title, and legend, and tick_params with labelsize to increase the text size of the numbers on your axes.
- Similarly, you should make your graph elements easy to see. Use s to increase the size of your scatterplot markers and linewidth to increase the sizes of your plot lines.
- Using color (and nothing else) to distinguish between different plot elements will make your plots unreadable to anyone who is colorblind, or who happens to have a black-and-white office printer. For lines, the linestyle parameter lets you use different types of lines. For scatterplots, marker lets you change the shape of your points. If you’re unsure about your colors, you can use Coblis or Color Oracle to simulate what your plots would look like to those with colorblindness.

#### 8. Bonus: Plotly Express

In [ ]:
px.scatter(data_2007, x="gdpPercap", y="lifeExp", color="continent", size="pop", size_max=50)

## 3. List and for loops - 13:00 to 14:10

### [Lists](https://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html) - 10 min / 10 min exercises

**Learning objectives**:
* Explain why programs need collections of values.
* Write programs that create flat lists, index them, slice them, and modify them through assignment and method calls.

#### 1. A List stores many values in a single structure.

* Doing calculations with a hundred variables called `pressure_001`, `pressure_002`, etc would be at least as slow as doing them by hand.

* Use a `list`to store many values together.
    * Contained with square brackets `[...]`.
    * Values separated by commas `,`.

* Use `len`to find out how many values are in a List

In [ ]:
pressures = [0.273, 0.656, 0.665, 0.224, 0.4433]
print('pressure:', pressures)
print('Length:', len(pressures))

pressure: [0.273, 0.656, 0.665, 0.224, 0.4433]
Length: 5

#### 2. Use an item's index to fetch it from a List.

* Just like strings

In [ ]:
print("zeroth item of pressures:", pressures[0])

zeroth item of pressures: 0.273

In [ ]:
print('fourth item of pressures:', pressures[3])

fourth item of pressures: 0.224

#### 3. Lists' values can be replaced by assigning to them.

* Use an index expression on the left of the assignment to replace a value.

In [ ]:
pressure[0] = 0.245
print('pressures is now', pressures)

pressures is now [0.273, 0.656, 0.665, 0.224, 0.4433]

#### 4. Appending items to a list lengthens it.

* Use `list_name.append` to add items to the end of a list.

In [ ]:
primes = [2, 3, 5]
print('primes is initially:', primes)

primes is initially: [2, 3, 5]

In [ ]:
primes.append(7)
print('primes has become:', primes)

primes has become: [2, 3, 5, 7]

* `Append`is a method of lists - It is like a function but tied to a particular object.

* Use `object_name.method_name` to call methods.
  * Deliberately resembles the way we refer to things in a library.
* We will meet other methods of lists as we go along.
* `extend`is similar to `append`, but it allows you to combine two list. For example:

In [ ]:
teen_primes = [11, 13, 17, 19]
middle_aged_primes = [43, 54, 23, 12]
print('primes is currently:', primes)
primes.extend(teen_primes)
print('primes has now become:', primes)
primes.append(middle_aged_primes)
print('primes has finally become:', primes)

primes is currently: [2, 3, 5, 7]
primes has now become: [2, 3, 5, 7, 11, 13, 17, 19]
primes has finally become: [2, 3, 5, 7, 11, 13, 17, 19, [43, 54, 23, 12]]

Note that while `extend`maintains the `flat`structure of the list, appending a list to a list makes the result two-dimensional - the last element in `primes`is a list, not an integer

#### 5. Use `del`to remove items from a list entirely.

* We use `del list_name[index]`to remove an element from a list (in the example, 9 is not a prime number) and thus shorten it.

In [ ]:
primes = [2,3,5,7,9]
del primes[4]
primes
print('primes after removing last item:', primes)

primes after removing last item: [2, 3, 5, 7]

#### 6. List may contain values of different types.

* A single list may contain numbers, strings, and anything else.

In [ ]:
goals = [1, 'Import data',
2, 'Extract items from the list']
goals

[1, 'Import data', 2, 'Extract items from the list']

#### 7. Character strings can be indexed like list

* Get single characters from a character string using indexes in square brackets

In [ ]:
element = 'carbon'
print('zeroth character:', element[0])

zeroth character: c

#### 8. Character string are immutable

* Cannot change the characters in a string after it has been created:
  * Immurable: can't be changed after creation
  * In contrast, list are mutable: they can be modified in place
* Python considers the string to be a single value with parts, nota collection of values

In [ ]:
element[0] = C

NameError: ignored

#### 9. Indexing beyond the end of the collection is an error:

* Python reports an `IndexError`if we atempt to access a value that doesn't exist.
  * This is a kind of `runtime error`
  * Cannot be detected as the code is parsed because the index might be calculated based on data.

In [ ]:
print('99th element of element is:', element[99])

IndexError: ignored

EXERCISE 1: FILL THE BLANKS

Fill in the blanks so that the program below produces the output show.

```python
values = ____
values.____(1)
values.____(3)
values.____(5)
print('first time:', values)
values = values[____]
print('second time:', values)
```

Expected output:
```python
first time: [1,3,5]
second time: [3,5]
```

In [ ]:
# solution
values = []
values.append(1)
values.append(3)
values.append(5)
print('first time:', values)
values = values[1:]
print('second time:', values)

first time: [1, 3, 5]
second time: [3, 5]

EXERCISE 2: FROM STRING TO LIST AND BACK

Given this:

```python
print("string to list:', list('tin'))
print('list to string:', ''.join(['g','o','l','d'])
```

1. What does first list do?
2. What does join generate?

SOL:
1. `list('some string')` converts a string into a list containing all of its characters.
2. `join` returns a string that is the concatenation of each string element in the list and adds the separator between each element in the list. This results in x-y-z. The separator between the elements is the string that provides this method.

EXERCISE 3: WORKING WITH THE END

1. What does the following program print?

```python
element = 'helium'
print(element[-1])
```

SOL: the program prints `m`

2. If `values` is a list, what does `del values[-1]` do?

SOL: Removes the last element from the list

3. How can you display all elements but the last one without changing `values`?
```python
values[:-1]
```

EXERCISE 4: SORT AND SORTED

What does the following two program print?

```python
# program A
letters = list('gold')
result = sorted(letters)
print('letters is', letters, 'and result is', result)
```

```python
# Program B
letters = list('gold')
result = letters.sort()
print('letters is', letters, 'and result is', result)
```

### [For Loops](https://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html) - 10 min / 15 min exercises

**Learning objectives**:
* Explain what for loops are normally used for.
* Trace the execution of a simple loop and correctly state the values of variables in each iteraction.
* Write for loops that use the Accumulator pattern to agrregate values.

#### 1. A _for loop_ executes commands once for each value in a collection:

* A for loop tells Python to execute some statements once for each value in a list, a character string, or some other collection.
* "For each thing in this group, do these operations"

In [ ]:
list = [3,4,5]
for number in list:
  print(number)

3
4
5

* This _for_ loop is equivalent to:

In [ ]:
print(2)
print(3)
print(5)

2
3
4

#### 2. A _for loop_ is made up of a collection, a loop variable, and a body:

* The collection, [3,4,5], is what the loop is being run on.
* The body, `print(number)`, specifies what to do for each value of the collection.
* The loop variable, `number`, is what changes for each `iteration` of the loop

#### 3. The first line of the _for loop_ must must end with a colon, and the body must be indented:
* The colon at the end of the first line signals the start of a _block_ of statements.
* Python uses indetation rather than `{}` or `begin/end` to show nesting

In [ ]:
for number in list:
print(number)

IndentationError: ignored

In [ ]:
firstname = "John"
  secondname ="Smith"

IndentationError: ignored

* This error can be fixed by removing the extra spaces at the beggining of the second line.

#### 4. Loop variables can be called anything.

* As with all variables, loop variables are:
  - Created on demand.
  - Meaningless: their names can be anything at all.

In [ ]:
for kitten in list:
  print(kitten)

3
4
5

#### 5. The body of a loop can contain many statement:
* But no loop should be more than few lines long.
* Hard for humans to keep larger chunks in mind.

In [ ]:
primes = [2,3,5]

for p in primes:
  squared = p ** 2
  cubed = p ** 3
  print(p, squared, cubed)

2 4 8
3 9 27
5 25 125

#### 6. Use _range_ to iterate over a sequence of numbers:
* The build-in function _range_ produces a sequence of numbers.
  - Not a list: the numbers are produced on demand to make looping over large ranges more efficent.
  - `range(N)` is the number )...N-1

In [ ]:
for number in range(0,5):
  squared = number**2
  print(number, squared)

0 0
1 1
2 4
3 9
4 16

#### 7. The Accumulator pattern turns many values into one.
* A common pattern in programs is to:
   1. Initalize an _accumulator_ variable to zero, the empty string, or the empty list.
   2. Update the variable with values from a collection

In [ ]:
# sum the first 10 integers
total = 0
for number in range(10):
  total = total + (number +1)
print(total)

55

* Read `total = total + (number + 1)` as:
  - Add 1 to the current value of the loop variable `number`.
  - Add that to the current value of the accumulator variable `total`.
  - Assign that to `total`, replacing the current value
* We have to add `number + 1` because `range` produces 0..9, not 1..10.

EXERCISE 1: CLASSIFYING ERRORS

Is an indentation error a syntax error or a runtime error?

SOL: An IndentationError is a syntax error. Programs with syntax errors cannot be started. A program with a runtime error will start but an error will be thrown under certain conditions.

EXERCISE 2: TRACING EXECUTION - **DON"T UNDERSTAND IT**

Create a table showing the numbers of lines that are executed when this program run, and the values of the variables after each line is executed

```python
total = 0
for char in "tim":
  total = total + 1
  ```

In [ ]:
total = 0
for char in "tim":
  total = total + 1
  print(total)

1
2
3

#### EXERCISE 3: REVERSING A STRING
Fill in the blanks in the program below so that it prints "nit" (the reverse of the original character string 'tin')

In [ ]:
original = "tin"
result = ""
for char in original:
  result = char + result
print(result)

nit

#### EXERCISE 4: PRACTICE ACCUMULATING

Fill in the blanks in each of the programs below to produce the indicated result.

```python
# A. Total length of the string in the list: ["red", "green", "blue"] ==> 12
total = 0
for word in ["red","green","blue"]:
  ___ = ___ + len(word)
print(total)
```

In [ ]:
# SOL
total = 0
for word in ["red","green","blue"]:
  total = total + len(word)
print(total)

12

```python
# B. Create a list of word lengths: ["red", "green", "blue"] => [3,5,4]
lengths = ___
for words in ["red", "green", "blue"]:
  lengths.___()
print(lengths) 

```

In [ ]:
# SOL
lengths = []
for word in ["red", "green", "blue"]:
  lengths.append(len(word))
print(lengths)

[3, 5, 4]

```python
# Concatenate all words: ["red", "gree", "blue"] ==> "readgreenblue"

words = ["red", "green", "blue"]
result = __
for __ in __:
  ___
print(result)
```

In [ ]:
words = ["red", "green", "blue"]
result = ""
for word in words:
  result = result + word
print(result)

redgreenblue

```python
# Create acronym: ["red", "green", "blue"] ==> "RGB"
# write the whole thing
```

In [ ]:
words = ["red", "green", "blue"]
acr = ''
for word in words:
  acr = acr + word[0].upper()
print(acr)

RGB

EXERCISE 5: CUMULATIVE SUM

Reorder and properly indent the lines of code below so that they print a list with the cumulative sum of data. The result should be `[1,3,5,10]`.

```python
cumulative.append(total)
for number in data:
cumulative = []
total += number
total = 0
print(cumulative)
data = [1,2,2,5]
```

In [ ]:
data = [1,2,2,5]
cumulative = []
total = 0
for number in data:
  total += number
  cumulative.append(total)
print(cumulative)

[1, 3, 5, 10]

#### EXERCISE 6: IDENTIFYING VARIABLE NAME ERRORS

1. Read the code below and try to identify what the errors are without running it.
2. Run the code and read the error message. What type of _NameError_ do you think this is? Is it a string with no quotes, a misspelled variable, or a variable that should have been defined but was not?
3.Fix the error.
4. Repeat steps 2 and 3, until you have fixed all the errors.

```python
for number in range(10):
    # use a if the number is a multiple of 3, otherwise use b
    if (Number % 3) == 0:
        message = message + a
    else:
        message = message + "b"
print(message)
```

In [ ]:
# SOL
# Python variable names are case sensitive: number and Number refer to different variables.
# The variable message needs to be initialized as an empty string.
# We want to add the string "a" to message, not the undefined variable a.Python variable names are case sensitive: number and Number refer to different variables.
# The variable message needs to be initialized as an empty string.
# We want to add the string "a" to message, not the undefined variable a.
message = ""
for number in range(10):
    # use a if the number is a multiple of 3, otherwise use b
    if (number % 3) == 0:
        message = message + "a"
    else:
        message = message + "b"
print(message)

abbabbabba

#### EXERCISE 7: IDENTIFYING ITEM ERRORS
1. Read the code below and try to identify what the errors are without running it.
2. Run the code, and read the error message. What type of error is it?
3. Fix the error.

In [ ]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print('My favorite season is ', seasons[4])

IndexError: ignored

In [ ]:
# SOL
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print('My favorite season is ', seasons[3])

My favorite season is  Winter

## 4. Advanced topics - 14:20 to 15:15

---
### Writing Functions - 15 min / 15 min exercices

**Learning objectives**:
*   How can I create my own functions?
*   Explain and identify the difference between function definition and function call.
* Write a function that takes a small, fixed number of arguments and produces a single result

#### 1. Define a function using `def` with a name, parameters, and a block of code.

- Begin the definition of a new function with def.
- Followed by the name of the function.
    - Must obey the same rules as variable names.
- Then parameters in parentheses.
    - Empty parentheses if the function doesn’t take any inputs.
    - We will discuss this in detail in a moment.
- Then a colon.
- Then an indented block of code.

In [ ]:
def print_greeting():
    print('Hello!')

#### 2. Defining a function does not run it.

- Defining a function does not run it.
    - Like assigning a value to a variable.
- Must call the function to execute the code it contains.

In [ ]:
print_greeting()

#### 3. Arguments in call are matched to parameters in definition.

- Functions are most useful when they can operate on different data.
- Specify parameters when defining a function.
    - These become variables when the function is executed.
    - Are assigned the arguments in the call (i.e., the values passed to the function).
    - If you don’t name the arguments when using them in the call, the arguments will be matched to parameters in the order the parameters are defined in the function.

In [ ]:
def print_date(year, month, day):
    joined = str(year) + '/' + str(month) + '/' + str(day)
    print(joined)

print_date(1871, 3, 19)

In [ ]:
print_date(month=3, day=19, year=1871)

#### 4. Functions may return a result to their caller using `return`.

- Use return ... to give a value back to the caller.
- May occur anywhere in the function.
- But functions are easier to understand if return occurs:
    - At the start to handle special cases.
    - At the very end, with a final result.

In [ ]:
def average(values):
    if len(values) == 0:
        return None
    return sum(values) / len(values)

In [ ]:
a = average([1, 3, 4])
print('average of actual values:', a)

In [ ]:
print('average of empty list:', average([]))

- Remember: every function returns something.  
- A function that doesn’t explicitly return a value automatically returns None.

In [ ]:
result = print_date(1871, 3, 19)
print('result of call is:', result)

#### 5.Identifying Syntax Errors
- Read the code below and try to identify what the errors are without running it.
- Run the code and read the error message. Is it a SyntaxError or an IndentationError?
- Fix the error.
- Repeat steps 2 and 3 until you have fixed all the errors.

In [ ]:
# def another_function
#   print("Syntax errors are annoying.")
#    print("But at least python tells us about them!")
#   print("So they are usually not too hard to fix.")

#### 6. Encapsulation

create a function that takes a single filename as an argument, loads the data in the file named by the argument, and returns the minimum value in that data.

In [ ]:
import pandas as pd

def min_in_data(filename):
    data = pd.read_csv(filename)
    return data.min()

#### 7. Find the First

Fill in the blanks to create a function that takes a list of numbers as an argument and returns the first negative value in the list. What does your function do if the list is empty?

In [ ]:
def first_negative(values):
    for v in values:
        if v<0:
            return v

In [ ]:
my_list = []
print(first_negative(my_list))

In [ ]:
import random
for i in range(10):

    # simulating the mass of a chicken egg
    # the (random) mass will be 70 +/- 20 grams
    mass = 70 + 20.0 * (2.0 * random.random() - 1.0)

    print(mass)
   
    # egg sizing machinery prints a label
    if mass >= 85:
        print("jumbo")
    elif mass >= 70:
        print("large")
    elif mass < 70 and mass >= 55:
        print("medium")
    else:
        print("small")

In [ ]:
def print_egg_label(mass):
    #egg sizing machinery prints a label
    if mass >= 90:
        return "warning: egg might be dirty"
    elif mass >= 85:
        return "jumbo"
    elif mass >= 70:
        return "large"
    elif mass < 70 and mass >= 55:
        return "medium"
    elif mass < 50:
        return "too light, probably spoiled"
    else:
        return "small"

In [ ]:
for i in range(10):
    mass = 70 + 20.0 * (2.0 * random.random() - 1.0)
    print(mass, print_egg_label(mass))

#### 8. Encapsulating Data Analysis

In [ ]:
import pandas as pd

df = pd.read_csv('data/gapminder_gdp_asia.csv', index_col=0)
japan = df.loc['Japan']

In [ ]:
def avg_gdp_in_decade(country, continent, year):
     df = pd.read_csv('data/gapminder_gdp_' + continent + '.csv', index_col=0)
     c = df.loc[country]
     gdp_decade = 'gdpPercap_' + str(year // 10)
     total = 0.0
     num_years = 0
     for yr_header in c.index: # c's index contains reported years
         if yr_header.startswith(gdp_decade):
             total = total + c.loc[yr_header]
             num_years = num_years + 1
     return total/num_years

In [ ]:
avg_gdp_in_decade('Japan','asia',1983)